@import "./../../../assets/sass/variables.scss";

table.bonusTable {
    background-color: white;
    color: black;

    &  { 
        margin-top:  20px;
         display: inline-block; 
         overflow: auto; 

        th div { 
            margin-top: -20px; 
            position: fixed; 
        }
    }
    

    .highlighted {
        background-color: rgba($primary, 0.3) !important;
    }

    .bought {
        background-color: rgba(#008000, 0.3) !important;
    }
}
