@import "./../../../assets/sass/variables.scss";

table.bonusTable {
    background-color: white;
    color: black;

    width: 100%;
    height: 100%;
    margin-top: 20px;
    display: inline-block;
    overflow: auto;

    th div {
        margin-top: -20px;
        position: fixed;
    }

    td {
        img {
            width: 75px;
            height: 75px;
        }
    }

    .clickable:hover {
        cursor: pointer;
    }

    .highlighted {
        background-color: rgba($primary, 0.3) !important;
    }

    .bought {
        background-color: rgba(#008000, 0.3) !important;
    }
}
