@import "./../../../assets/sass/variables.scss";

body {
    background: #6d92c5 !important;
}

/* scrollbar css */
@mixin customScrollbarVertical {
    padding-right: 10px;

    &::-webkit-scrollbar {
        width: 6px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
        background: transparent;
        margin: 20px 0;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: $primary;
        border-radius: 3px;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background: $hover;
    }
}

@mixin customScrollbarHorizontal {
    padding-bottom: 10px;

    &::-webkit-scrollbar {
        height: 6px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
        background: transparent;
        margin: 0 20px;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: $primary;
        border-radius: 3px;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background: $hover;
    }
}

#hatchingHome {
    #hatchingHero {
        z-index: -1;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        overflow: hidden;
        display: flex;
        justify-content: center;

        img {
            width: 100vw;
        }
    }

    #topPage {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        min-height: calc(100vh - 130px);
        padding-top: 1vh;
        margin-bottom: 200px;

        >.reveal {
            display: flex;
            flex-direction: column;
            align-items: center;

            >h1 {
                font-family: 'CHEDROS', sans-serif;
                font-size: 115px;
                font-weight: bold;
                color: $white;
                text-align: center;
                line-height: 0.9;
                // z-index: 1;
            }

            >.eggSurprise {
                height: 20vh;
                position: relative;
                z-index: -1;

                img {
                    position: relative;
                    top: -24vh;
                    height: 80vh;
                    left: 2.3vh;
                }
            }

            >.button {
                padding-left: 70px;
                padding-right: 70px;
            }
        }

        >.howTo {
            position: absolute;
            bottom: 70px;
        }

        >.rarityInfos {
            cursor: pointer;
            position: absolute;
            bottom: 20px;

            z-index: 1;
            border-radius: 9999px;
            display: flex;
            gap: 14px;
            background-color: #FAFAFA;
            backdrop-filter: blur(10px);

            &:hover {
                background-color: #EFEFEF;
            }

            >p {
                padding: 12px 24px 12px 0;
                color: $primary;
                font-weight: 600;
                display: flex;
                align-items: center;
            }

            >.icon {
                color: $primary;
                font-size: 2rem;
                padding: 0.3rem 0 0 0;
                border-radius: 50%;
                border: 3px solid $primary;
                font-family: "CHEDROS", sans-serif;
                height: 44px;
                width: 44px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-weight: bold;
            }
        }

        >.rarityPopup>.content {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 25px;
            padding: 20px 25px 15px 25px;

            >.egg {
                >img {
                    max-height: 100px;
                }

                >p {
                    font-family: 'CHEDROS', sans-serif;
                    font-weight: bold;
                    font-size: 1.2rem;
                    text-align: center;
                    margin: 0.5rem 0;
                }
            }
        }
    }

    #penguinNest {
        margin-bottom: 100px;

        >h2 {
            font-family: 'CHEDROS', sans-serif;
            font-size: 3rem;
            font-weight: bold;
            color: $white;
            text-align: center;
            margin-bottom: 2rem;
        }

        >.hatchingCard {
            background-color: $white;
            border-radius: 30px;
            display: grid;
            grid-template-columns: 3fr 2fr;
            grid-template-rows: 100%;
            min-height: 600px;
            max-height: 60vh;
            overflow: hidden;

            >.yourInventory {
                position: relative;
                border-right: 3px $primary solid;
                padding: 20px 25px 0 25px;

                &::after {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: -20px;
                    right: 0;
                    height: 80px;
                    background: transparent linear-gradient(180deg, #000B2700 0%, #000b2717 30%, #000b2773 100%) 0% 0% no-repeat padding-box;
                }

                >h3 {
                    font-family: 'CHEDROS', sans-serif;
                    font-size: 2rem;
                    font-weight: bold;
                    color: $primary;
                    text-align: left;
                    margin-bottom: 1rem;
                }

                >.items {
                    @include customScrollbarVertical;
                    display: grid;
                    grid-template-columns: repeat(4, 1fr);
                    grid-gap: 10px;
                    overflow: auto;
                    max-height: calc(100% - 2rem - 20px);

                    >div {
                        border-radius: 12px;
                        cursor: pointer;

                        &:hover {
                            background-color: #EBEBEB;
                        }

                        &.selected {
                            border: $primary 3px solid;
                        }

                        >img {
                            max-width: 100%;
                        }
                    }

                    padding-bottom: 20px;
                }
            }

            >.infos {
                padding: 20px 25px;

                >h3 {
                    font-family: 'CHEDROS', sans-serif;
                    font-size: 2rem;
                    font-weight: bold;
                    color: $primary;
                    text-align: center;
                    margin-bottom: 1rem;
                }

                >.content {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    height: 100%;
                    gap: 1rem;

                    >img {
                        width: 50%;
                    }

                    >h4 {
                        font-family: 'CHEDROS', sans-serif;
                        font-size: 1.5rem;
                        font-weight: bold;
                        color: $dark;
                    }

                    >p {
                        font-family: 'Montserrat', sans-serif;
                        font-size: 1.2rem;
                        max-width: 70%;
                        text-align: center;
                    }
                }
            }
        }
    }
}