@import "./../../assets/sass/variables.scss";

table.bonusTable {
    border-collapse: separate;
    border-spacing: 10px 16px;

    tr td {
        position: relative;

        &.price {
            font-family: "CHEDROS", sans-serif;
            font-size: 1.25rem;
            font-weight: bold;
            padding-left: 30px;
            white-space: nowrap;

            &::before {
                content: "";
                background-color: $primary;
                width: 15px;
                height: 15px;
                border-radius: 50%;
                position: absolute;
                left: 0;
            }
        }

        &.arrow {
            > img {
                max-width: 25px;
            }
        }

        &.advantage {
            font-family: "Montserrat", sans-serif;
            font-size: 1.125rem;
            font-weight: bold;
        }
    }
}
