@import "./../../assets/sass/theme.scss";

$caseSize: 200px;
$gapSize: 13px;
$nbrItems: 12;

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-$caseSize * $nbrItems - $gapSize * ($nbrItems + 1));
    }
}

@keyframes revertScroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX($caseSize * $nbrItems + $gapSize * ($nbrItems + 1));
    }
}

.itemsSlider {
    transform: scale(1.1) rotateX(4deg) rotateZ(7deg) rotateY(4.3deg);
    // left: 10vw;
    left: 14vw;

    max-width: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
    height: $caseSize * 2 + $gapSize;
    position: absolute;
    bottom: 0;
    z-index: -1;

    > .track {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: $gapSize;
        width: $caseSize * ($nbrItems * 2) + $gapSize * ($nbrItems * 2);
        overflow: hidden;

        > .anItem {
            overflow: hidden;
            width: $caseSize;
            min-width: $caseSize;
            height: $caseSize;
            border-radius: 15px;
            background-color: #ffffff33;
            display: flex;
            justify-content: center;
            align-items: center;
            animation: scroll 10s linear infinite;

            > img {
                width: 100%;
                height: 100%;
            }
        }

        &.revert {
            flex-direction: row-reverse;
            top: $caseSize + $gapSize;
            left: auto;
            right: 0;

            > .anItem {
                animation: revertScroll 10s linear infinite;
            }
        }
    }
}

@media (max-width: 1800px) {
    .itemsSlider {
        left: 13vw;
    }
}
@media (max-width: 1700px) {
    .itemsSlider {
        left: 12vw;
    }
}
@media (max-width: 1600px) {
    .itemsSlider {
        left: 11vw;
    }
}
@media (max-width: 1490px) {
    .itemsSlider {
        left: 10vw;
    }
}
@media (max-width: 1400px) {
    .itemsSlider {
        left: 9vw;
    }
}
@media (max-width: 1270px) {
    .itemsSlider {
        left: 8vw;
    }
}
@media (max-width: 1270px) {
    .itemsSlider {
        left: 7vw;
    }
}
@media (max-width: 1090px) {
    .itemsSlider {
        left: 6vw;
    }
}
@media (max-width: 1010px) {
    .itemsSlider {
        left: 5vw;
    }
}
@media (max-width: 920px) {
    .itemsSlider {
        left: 4vw;
    }
}
@media (max-width: 840px) {
    .itemsSlider {
        left: 3vw;
    }
}
@media (max-width: 770px) {
    .itemsSlider {
        left: 0;
    }
}

@media (max-width: 400px) {
    .itemsSlider {
        transform: scale(1.1) rotateX(4deg) rotateZ(4deg) rotateY(4.3deg);
    }
}
