@import "./../../assets/sass/variables.scss";

.popup {
    z-index: 71;
    display: flex;
    flex-direction: column;
    background-color: $white;
    border-radius: 30px;
    position: fixed;
    width: 400px;
    max-width: calc(100% - 30px);
    box-shadow: 0 0 15px #00000042;
    max-height: calc(100vh - 30px);

    &.bottom {
        transition: bottom 0.3s ease-in-out;
        margin: auto;
        right: 0;
        left: 0;
        bottom: 15px;

        &.isOpen {
            bottom: 15px;
        }
        &.isClose {
            bottom: -100vh;
        }
    }

    &.right {
        top: 20vh;
        transition: right 0.3s ease-in-out;

        &.isOpen {
            right: 15px;
        }
        &.isClose {
            right: -430px;
        }
    }

    &.center {
        top: 50vh;
        right: 0;
        left: 0;
        margin: auto;
        transition: top 0.3s ease-in-out;

        &.isOpen {
            top: 50vh;
            transform: translateY(-50%);
        }
        &.isClose {
            top: -100vh;
        }
    }    

    > .closePopup {
        position: absolute;
        top: -10px;
        right: -10px;
        cursor: pointer;

        > img {
            height: 35px;
        }
    }
}
