@import "./../../assets/sass/theme.scss";

.popup {
    z-index: 50;
    display: flex;
    flex-direction: column;
    background-color: $white;
    border-radius: 30px;
    position: fixed;
    width: 400px;
    max-width: calc(100% - 30px);
    box-shadow: 0 0 15px #00000042;

    &.bottom {
        transition: bottom 0.3s ease-in-out;
        margin: auto;
        right: 0;
        left: 0;
        bottom: 15px;

        &.isOpen {
            bottom: 15px;
        }
        &.isClose {
            bottom: -100vh;
        }
    }

    &.right {
        top: 20vh;
        transition: right 0.3s ease-in-out;

        &.isOpen {
            right: 15px;
        }
        &.isClose {
            right: -430px;
        }
    }

    > .closePopup {
        position: absolute;
        top: -10px;
        right: -10px;
        cursor: pointer;

        > img {
            height: 35px;
        }
    }
}
