@import "./../../../assets/sass/theme.scss";

footer {
    background-color: $white;
    border-radius: 9999px 9999px 0 0;

    > .content {
        padding: 2.5rem 0;
        display: flex;
        justify-content: space-between;
        align-items: center;

        > .logo {
            height: 2.75rem;
        }

        > nav {
        }

        > .button {
        }

        > .social {
            > h3 {
                font-size: 1.125rem;
                font-weight: 600 !important;
                color: #3d3d3d;
            }

            > .content {
                display: flex;
                gap: 5px;
            }
        }

        // div {
        //     margin-top: 0.5rem;
        //     font-size: 0.75rem;
        //     display: inline-block;
        //     font-weight: 400;
        //     line-height: 1.155rem;

        //     a {
        //         color: $black;

        //         &:hover {
        //             color: $black;
        //         }

        //         #heart {
        //             height: 16px;
        //             width: 16px;

        //             path {
        //                 fill: #c00;
        //             }
        //         }
        //     }
        // }
    }
}
