@import "./../../../assets/sass/theme.scss";

footer {
    background-color: $white;
    border-radius: 60px 60px 0 0;

    > .content {
        padding: 2.5rem 0;
        display: flex;
        justify-content: space-between;
        align-items: center;

        > .logo {
            height: 2.75rem;
        }

        > nav {
        }

        > .button {
        }
        > nav {
            > .followUs {
                display: none;
            }
        }
    }
}

@media (max-width: 1090px) {
    footer {
        > .content {
            flex-direction: column;
            gap: 23px;

            > nav {
                flex-direction: column;
            }
        }
    }
}
