/* Bootstrap overrides
-------------------------------------------------- */
@import "./variables.scss";

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .container,
  .container-sm,
  .container-md,
  .container-lg,
  .container-xl {
    max-width: 576px !important;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .container,
  .container-sm,
  .container-md,
  .container-lg,
  .container-xl {
    max-width: 768px !important;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .container,
  .container-sm,
  .container-md,
  .container-lg,
  .container-xl {
    max-width: 992px !important;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .container,
  .container-sm,
  .container-md,
  .container-lg,
  .container-xl {
    max-width: 1200px !important;
  }
}

/* Do not move the imports from here.
Override Bootstrap variables only above.
-------------------------------------------------- */

// Bootstrap

@import "~bootstrap/scss/bootstrap.scss";

@import "~bootstrap/scss/reboot";

.custom-classname.btn-primary {
  background-color: green;
}

// Fonts

@font-face {
  font-family: "CHEDROS";
  src: local("CHEDROS"), url("./../fonts/CHEDROS.otf") format("opentype");
}

@font-face {
  font-family: "Montserrat";
  src: url("./../fonts/Montserrat/Montserrat-Regular.ttf") format("true-type");
  font-weight: 400;
}
@font-face {
  font-family: "Montserrat";
  src: url("./../fonts/Montserrat/Montserrat-Bold.ttf") format("true-type");
  font-weight: 700;
}

/* Base
-------------------------------------------------- */
html {
  min-height: 100%;
  font-size: 14px; // 16px
}

body {
  line-height: 1;
  font-family: "Montserrat", sans-serif;
  background-color: $bg-body;
  background: linear-gradient(180deg, black 0vh, black 700vh /*360vh*/, $bg-body 100%);
  overflow-x: hidden;
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.wrapper {
  min-height: 100vh;
}

.opacity-6 {
  opacity: 0.6;
}

.dapp-icon {
  padding: 5px;
  border-radius: 50%;
  background-color: $light;
  width: 65px;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;

  &.icon-medium {
    width: 80px;
    height: 80px;
  }
}

h2 {
}

/* Actions
-------------------------------------------------- */

.not-allwed {
  cursor: not-allowed;
}

/* Loader, Transaction success/Fail
-------------------------------------------------- */
.page-state {
  .lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
  }
  .lds-ellipsis div {
    position: absolute;
    top: 27px;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.1);
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .bg-blue .lds-ellipsis div {
    background: rgba(255, 255, 255, 0.4);
  }
  .lds-ellipsis div:nth-child(1) {
    left: 6px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 6px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 26px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 45px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(19px, 0);
    }
  }
}

/* Button
-------------------------------------------------- */
button,
.button {
  padding: 0.9375rem 1.1875rem;
  border-radius: 9999px;
  background-color: $primary;
  color: $light;
  font-size: 1rem;
  font-weight: 700;
  text-align: center;
  cursor: pointer;

  &.icon {
    padding: 6px;
    height: 36px;
    width: 36px;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      width: 18px;
      fill: $primary;
    }

    &:hover {
      svg {
        fill: $hover;
      }
    }
  }

  &:hover {
    background-color: $hover;
    color: $light;
    text-decoration: none;
  }

  &-outline {
    background-color: $white;
    padding: 0.75rem 0.8125rem;
    border: 0.1875rem solid $primary;
    color: $primary;

    &:hover {
      background-color: $white;
      border-color: $hover;
      color: $hover;
    }
  }
}
.button.icon.twitter {
  padding: 7px;
}

/* Card
-------------------------------------------------- */
.card {
  border-radius: 0.25rem;
  background-color: $white;
  padding: 1rem;
}
