$body: #000;
$bg-body: #000226;
$headings-font-weight: 300 !important;
$primary: #4279e0;
$hover: #304986;
$light: #e6f6fd;
$dark: #242424;
$white: #fafafa;

$headings-font-weight: 300 !important;
$a: #1392ff;
